<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
xmlns:tools="http://schemas.android.com/tools"
package="SpiceRack">

<application

    android:icon="@mipmap/spicerack_emblem_round"
    android:roundIcon="@mipmap/spicerack_emblem_round"
    android:supportsRtl="true"
    android:theme="@style/AppTheme"
    tools:ignore="AllowBackup,GoogleAppIndexingWarning"
    >

    <activity
        android:name="com.journeyapps.barcodescanner.CaptureActivity"
        android:screenOrientation="fullSensor"
        tools:replace="screenOrientation" />

    <activity android:name=".Application.activites.HomeActivity"
        android:screenOrientation="portrait"
        tools:ignore="LockedOrientationActivity" />
    <activity android:name=".Application.activites.ShoppingListActivity"
        android:windowSoftInputMode="adjustNothing"
        android:screenOrientation="portrait"
        tools:ignore="LockedOrientationActivity" />
    <activity android:name=".Application.login.StartupActivity"
        android:screenOrientation="portrait"
        tools:ignore="LockedOrientationActivity">
    <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
    </intent-filter>
    </activity>
    <activity android:name=".Application.activites.ScanActivity"
        android:screenOrientation="portrait"
        tools:ignore="LockedOrientationActivity" />
    <activity android:name=".Application.profile.ProfileActivity"
        android:screenOrientation="portrait"
        tools:ignore="LockedOrientationActivity" />
    <activity android:name=".Application.activites.InventoryActivity"
        android:windowSoftInputMode="adjustNothing"
        android:screenOrientation="portrait"
        tools:ignore="LockedOrientationActivity" />
    <activity android:name=".Application.activites.InventoryEditorActivity"
        android:screenOrientation="portrait"
        tools:ignore="LockedOrientationActivity" />
    <activity android:name=".Application.login.SignUpActivity"
        android:screenOrientation="portrait"
        tools:ignore="LockedOrientationActivity" />
    <activity android:name=".Application.login.LoginActivity"
        android:screenOrientation="portrait"
        tools:ignore="LockedOrientationActivity" />

</application>

</manifest>